window {
  background-color: #080D15;
  color: #C0C1C6;
}

treeview.view {
  background-color: #080D15;
  color: #C0C1C6;
}

row:hover,
menuitem:hover,
button:hover {
  background-color: rgba(@@ACCENT_COLOR@@, 0.50);
  color: #000000;
}

treeview.view:hover {
  background-color: rgba(40, 40, 40, 1.00);
}

.view:selected,
.view:selected:focus,
treeview.view:selected,
treeview.view:selected:focus,
flowbox > flowboxchild:selected,
flowbox > flowboxchild:selected:focus,
iconview:selected,
iconview:selected:focus,
selection {
  background-color: rgba(@@ACCENT_COLOR@@, 0.50);
  color: #000000;
}

.view:selected:hover,
treeview.view:selected:hover,
flowbox > flowboxchild:selected:hover,
iconview:selected:hover {
  background-color: rgba(@@ACCENT_COLOR@@, 0.50);
  background-image: linear-gradient(rgba(255, 255, 255, 0.18),
                                    rgba(255, 255, 255, 0.18));
  color: #000000;
}
