window {
  background-color: #080D15;
  color: #C0C1C6;
}

treeview.view {
  background-color: #080D15;
  color: #C0C1C6;
}

row:hover,
menuitem:hover,
button:hover,
.view:hover {
  background-color: #FFBB00;
  color: #000000;
}

.view:selected,
selection {
  background-color: #FFBB00;
  color: #000000;
}
