[Desktop Entry]
Version=1.0
Type=Application
Name=Best Practices
Comment=Best Practices in Ditana
Icon=/usr/share/pixmaps/ditana-logo-small.png
Exec=xdg-open https://ditana.org/best-practices
