[Desktop Entry]
Version=1.0
Type=Application
Name=Donate to Ditana
Comment=Support the development of Ditana
Icon=/usr/share/pixmaps/ditana-shakehands.png
Exec=xdg-open https://ditana.org/donate
