[Unit]
Description=Update pacman mirrorlist via rate-mirrors

[Service]
Type=oneshot
ExecStart=/usr/bin/rate-mirrors --allow-root --protocol=https --save=/etc/pacman.d/mirrorlist arch
