[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=X-XFCE-Helper
NoDisplay=true
Name=LibreWolf
Icon=io.gitlab.librewolf-community
X-XFCE-Category=WebBrowser
X-XFCE-Commands=flatpak run io.gitlab.librewolf-community
X-XFCE-CommandsWithParameter=flatpak run io.gitlab.librewolf-community "%s"
X-XFCE-Binaries=flatpak
